<div class="instructor-home-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6">
        <p><h2>{{$ctrl.currentUser.username}}</h2></p>
        <h2 class="dashboard-type">Instructor Dashboard</h2>
      </div>

      <div class="col-md-6 right-links text-sm-right">
        <p class="upgrade-text">
          <a ui-sref="app.pending_reviews">Pending reviews</a>
        </p>
        <p class="upgrade-text">
          <a ui-sref="app.finished_reviews">Finished reviews</a>
        </p>
        <p class="upgrade-text">
          <a ui-sref="app.instructor_students">Students</a>
        </p>
      </div>
    </div>

    <hr size="1" color="lightgrey">

    <div class="row">
      <!-- Main view - contains video uploads views -->
      <div class="col-md-12">
        <table width="100%" class="text-sm-center">
          <thead class="table-head">
          <tr>
            <th class="text-sm-center">Reviews to do:</th>
            <th class="text-sm-center">Submitted on:</th>
            <th class="text-sm-center"></th>
          </tr>
          </thead>
          <tbody class="table-body" ng-repeat="review in $ctrl.reviews">
          <tr style="margin-bottom: 15px !important;">
            <td><a ui-sref="app.instructor_dashboard({slug: review.slug})">{{review.author.fullName}}</a></td>
            <td>
              <span ng-if="$ctrl.timeStamp - review.createdDate > 172800000" style="color: red">{{review.createdDate | date:'dd-MM-yyyy - HH:mm:ss'}}</span>
              <span ng-if="$ctrl.timeStamp - review.createdDate < 172800000">{{review.createdDate | date:'dd-MM-yyyy - HH:mm:ss'}}</span>
            </td>
            <td><a href="" ng-click="$ctrl.downloadFile(review.video)">Download</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- End the row & container divs -->
  </div>
</div>
