<div class="pending-reviews-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6">
        <h2 class="dashboard-type">Pending Reviews</h2>
      </div>

      <div class="col-md-6 right-links text-sm-right">
        <p class="past-reviews">
          <a ui-sref="app.finished_reviews">Finished reviews</a>
        </p>
        <p class="upgrade-text">
          <a ui-sref="app.instructor_students">Students</a>
        </p>
      </div>
    </div>

    <hr size="1" color="lightgrey">


    <div class="row review-row">
      <!-- Main view - contains video uploads views -->
      <div class="col-md-12">
        <table width="100%" class="text-sm-center">
          <thead class="table-head">
          <tr>
            <th class="text-sm-center">Reviews to do:</th>
            <th class="text-sm-center">Submitted on:</th>
            <th class="text-sm-center"></th>
          </tr>
          </thead>
          <tbody class="table-body" ng-repeat="review in $ctrl.reviews">
          <tr style="margin-bottom: 15px !important;">
            <td><a ui-sref="app.instructor_dashboard({slug: review.slug})">{{review.author.fullName}}</a></td>
            <td>{{review.createdAt | date:'dd-MM-yyyy - HH:mm:ss'}}</td>
            <td><a href="" ng-click="$ctrl.downloadFile(review.video)">Download</a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- End the row & container divs -->
    </div>
  </div>
</div>
