<div class="master-edit-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6">
        <h2 class="dashboard-type">Edit user</h2>
      </div>

      <div class="col-md-6 right-links text-sm-right">
        <p class="past-reviews">
          <a href="" ui-sref="app.master_home">Dashboard</a>
        </p>
      </div>
    </div>

    <hr size="1" color="lightgrey">

    <div class="row">
      <!-- Main view - contains video uploads views -->
      <div class="col-md-6 offset-md-3 col-xs-12">

        <form ng-submit="$ctrl.updateUser()">
          <fieldset ng-disabled="$ctrl.isSubmitting">

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                     type="text"
                     placeholder="Full Name"
                     ng-model="$ctrl.user.fullName" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                     type="text"
                     placeholder="Username"
                     ng-model="$ctrl.user.username" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                     type="text"
                     placeholder="Instructor"
                     ng-model="$ctrl.user.instructor" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                     type="text"
                     placeholder="Role"
                     ng-model="$ctrl.user.role" />
            </fieldset>

            <fieldset class="form-group">
              <textarea class="form-control form-control-lg"
                        rows="8"
                        placeholder="Short bio"
                        ng-model="$ctrl.user.bio">
              </textarea>
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                     type="email"
                     placeholder="Email"
                     ng-model="$ctrl.user.email" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                     type="password"
                     placeholder="New Password"
                     ng-model="$ctrl.user.password" />
            </fieldset>

            <button class="btn btn-lg btn-primary pull-xs-right"
                    type="submit">
              Update
            </button>

          </fieldset>
        </form>

        <br /><br />

        <form ng-submit="$ctrl.removeUser()">
          <button class="btn btn-lg btn-danger pull-xs-right">
            Remove User
          </button>
        </form>

        <div class="upload-success">
          <p>
            {{$ctrl.successDelete}}
          </p>
        </div>
      </div>
      <!-- End the row & container divs -->
    </div>
  </div>
</div>
