<div class="master-home-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-12">
        <h2 class="dashboard-type">Master Dashboard</h2>
      </div>
    </div>

    <hr size="1" color="lightgrey">

    <div class="row">
      <!-- Main view - contains video uploads views -->
      <div class="col-md-4">
        <div class="master-dash">
          <div class="tab">
            <input class="zero-tab" id="tab-one" type="checkbox" name="tabs">
            <label for="tab-one" class="instructor-label">Add user</label>
            <div class="tab-content">
              <div class="form-style-2">
                <form ng-submit="$ctrl.submitForm()" method="post">
                  <div><span>Role:</span>
                    <select name="role" class="input-field" ng-model="$ctrl.formData.role">
                      <option value="Master_User">Master</option>
                      <option value="Basic_User">Basic Student</option>
                      <option value="Unlimited_User">Unlimited Student</option>
                      <option value="All_Instructor_User">Basic Instructor</option>
                      <option value="Unlimited_Instructor_User">Unlimited Instructor</option>
                    </select>
                  </div>
                  <div><span>Full Name:</span><input type="text" class="input-field" ng-model="$ctrl.formData.fullName" name="field1" value="" /></div>
                  <div><span>Username:</span><input type="text" class="input-field" ng-model="$ctrl.formData.username" name="field1" value="" /></div>
                  <div><span>Email address:</span><input type="email" class="input-field" ng-model="$ctrl.formData.email" name="field2" value="" /></div>
                  <div><span>Password:</span><input type="password" class="input-field" ng-model="$ctrl.formData.password" name="field3" value="" /></div>
                  <div ng-if="$ctrl.formData.role === 'Unlimited_User'"><span>Assign Instructor:</span>
                    <select name="role" class="input-field" ng-model="$ctrl.formData.instructor">
                      <option ng-repeat="instructor in $ctrl.instructors" value="{{instructor.fullName}}">{{instructor.fullName}}</option>
                    </select>
                  </div>
                  <div><input type="submit" value="Add" /></div>
                </form>
              </div>
              <div class="upload-success">
                <p>
                  {{$ctrl.success}}
                </p>
              </div>
            </div>
          </div>
          <div class="instructor-reports">
            <a ui-sref="app.master_dashboard">Instructor reports</a>
          </div>
        </div>
      </div>

      <div class="col-md-1"></div>

      <div class="col-md-7">
        <p style="font-size: 18px; font-weight: bold">User management</p>
        <div class="form-group pull-right">
          <input type="text" class="search form-control" ng-model="$ctrl.searchKeyword" placeholder="Search anything here">
        </div>

        <table class="table table-striped results">
          <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Active</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody ng-repeat="user in $ctrl.users | filter: $ctrl.searchKeyword">
          <tr>
            <td>{{user.fullName}}</td>
            <td>{{user.role}}</td>
            <td>
              <span ng-if="user.active === true" style="color: limegreen">Yes</span>
              <span ng-if="user.active === false" style="color: orangered">No</span>
            </td>
            <td>
              <span style="margin-right: 5px">
                <button class="btn btn-info" type="button" ui-sref="app.master_edit({id: user._id})">
                Edit
              </button>
              </span>

              <span ng-if="user.active === true">
                <button class="btn btn-warning" type="button" ng-click="$ctrl.deactivateUser(user)">
                  Deactivate
                </button>
              </span>

              <span ng-if="user.active === false">
                <button class="btn btn-success" type="button" ng-click="$ctrl.activateUser(user)">
                  Activate
                </button>
              </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- End the row & container divs -->
  </div>
</div>
