<div class="instructor-dashboard-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6">
        <p><h3>{{$ctrl.currentUser.username}}</h3></p>
        <h2 class="dashboard-type">Instructor dashboard</h2>
      </div>

      <div class="col-md-6 right-links text-sm-right">
        <p class="past-reviews">
          <a href="" ui-sref="app.instructor_home">Dashboard</a>
        </p>
      </div>
    </div>

    <hr size="1" color="lightgrey">

    <div class="row">
      <!-- Main view - contains video uploads views -->
      <div class="col-md-5">
        <div class="reports-title">{{$ctrl.review.author.fullName}}</div>
        <div class="reports-details">{{$ctrl.review.createdAt | date:'dd-MM-yyyy - HH:mm:ss'}}</div>
        <div class="video-gallery">
          <div class="single-video">
            <div class="the-video">
              <video width="270" height="130" id="myvideo" controls autoplay>
                <source class="active" src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[0]}}">
                <!--<source class="active" src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[0]}}" type="video/ogg">
                <source class="active" src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[0]}}" type="video/mov">
                <source class="active" src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[0]}}" type="video/wmv">
                <source class="active" src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[0]}}" type="video/flv">
                <source class="active" src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[0]}}" type="video/avi">
                <source class="active" src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[0]}}" type="video/mpeg-4">
                <source class="active" src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[0]}}" type="video/webm">
                <source class="active" src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[0]}}" type="video/mkv">
                <source class="active" src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[0]}}" type="video/vob">
                <source class="active" src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[0]}}" type="video/ogv">
                <source class="active" src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[0]}}" type="video/yuv">
                <source class="active" src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[0]}}" type="video/asf">
                <source class="active" src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[0]}}" type="video/amv">-->

                <source src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[1]}}">
                <!--<source src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[1]}}" type="video/ogg">
                <source src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[1]}}" type="video/mov">
                <source src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[1]}}" type="video/wmv">
                <source src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[1]}}" type="video/flv">
                <source src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[1]}}" type="video/avi">
                <source src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[1]}}" type="video/mpeg-4">
                <source src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[1]}}" type="video/webm">
                <source src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[1]}}" type="video/mkv">
                <source src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[1]}}" type="video/vob">
                <source src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[1]}}" type="video/ogv">
                <source src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[1]}}" type="video/yuv">
                <source src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[1]}}" type="video/asf">
                <source src="http://35.229.26.45:4000/backend/uploads/{{$ctrl.review.video[1]}}" type="video/amv">-->
                Your browser does not support the video tag.
              </video>
              <!--<div class="video-image">
                <p class="video-num-content">
                  <span class="video-number">{{$ctrl.review.video.length}}</span> video(s)
                </p>
              </div>-->
              <div>
                <a href="" ng-if="$ctrl.review.video" ng-click="$ctrl.downloadFile($ctrl.review.video)">Download all videos</a>
              </div>
            </div>
          </div>
        </div>

        <div class="video-notes notes-title">
          Notes
        </div>

        <div class="video-notes">
          {{$ctrl.review.notes}}
        </div>
      </div>

      <div class="col-md-2"></div>

      <div class="col-md-5">
        <div class="reports-title"><a ui-sref="app.past_reviews({username: $ctrl.review.author.username})">{{$ctrl.review.author.fullName}}'s previous reviews</a></div>

        <div class="upload">
          <div class="upload-title">
            Upload finished review
          </div>

          <form ng-submit="$ctrl.updateReview()" method="post" novalidate name="$ctrl.uploadForm">
            <div class="row img-upload">
              <div class="cols col-md-12 text-sm-center">
                <div class="dropzone">
                  <div class="fallback">
                    <input
                            type="file"
                            id="upload"
                            ngf-select
                            ng-model="$ctrl.formData.video"
                            name="file"
                            ngf-pattern="'**/*'"
                            accept="**/*"
                            ngf-max-size="50MB"/>
                    <i ng-show="$ctrl.videoForm.file.$error.required">*required</i><br>
                    <i ng-show="$ctrl.videoForm.file.$error.maxSize">File too large
                      {{$ctrl.formData.video.size / 1000000|number:1}}MB: max 50MB</i>
                  </div>
                </div>
              </div>
            </div>

            <div class="notes-title">
              Notes to Student
            </div>

            <div class="form-group">
              <label for="text-area"></label>
              <textarea class="form-control" id="text-area" ng-model="$ctrl.formData.notes2" rows="3" cols="5" placeholder="Write here..."></textarea>
            </div>

            <div class="upload-button">
              <button class="btn primary-btn" type="submit">
                UPLOAD
              </button>
            </div>
          </form>

          <div class="upload-success">
            <p>
              <br /><br />
              {{$ctrl.success}}
            </p>
          </div>
        </div>
      </div>
      <!-- End the row & container divs -->
    </div>
  </div>
</div>
