<div class="basic-home-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6">
        <h2 class="dashboard-type">Upload Audio Clips</h2>
      </div>

      <div class="col-md-6 right-links">
        <div>
          <span class="reviews">
            <a href="" ui-sref="app.basic_reviews">Review Catalog</a>
          </span>
        </div>
      </div>
    </div>

    <hr size="1" color="lightgrey">

    <form ng-submit="$ctrl.submitForm()" name="$ctrl.videoForm" enctype="multipart/form-data">
      <div class="row">
        <!-- Main view - contains audio uploads -->
        <div class="col-md-5">
          <div class="upload">
            <div class="upload-title">
              Upload clip to catalog
            </div>

            <div class="row" >
              <div class="cols col-md-8" style="margin-top: 100px">
                <div class="">
                  <div class="form-group custom-file mb-3" style="margin-bottom: 20px">
                    <label for="upload" class="custom-file-label">Select Audio Clip</label>
                    <input
                            type="file"
                            class="custom-file-input"
                            id="upload"
                            ng-model="$ctrl.formData.video"
                            name="file"
                            ngf-select
                            ngf-pattern="'**/*'"
                            accept=".mp3, .wma, .wv, .wav, .m4a, .raw, .msv, .mpc, .mmf, .m4p, m4b, .aac, .3gp"
                            files-input
                            ngf-max-size="50MB"
                            on-file-change="$ctrl.checkFiles"
                            multiple
                    />
                    <p style="color: #2aabd2; margin-top: 20px">You can only upload <i>.mp3, .wma, .wv, .wav, .m4a, .raw, .msv, .mpc, .mmf, .m4p, m4b, .aac, .3gp</i> files.</p>
                    <p>Max. Length: 30 seconds  <span style="font-size: 12px">(.mp3, .wma, .wv, .wav, .m4a, .raw, .msv, .mpc, .mmf, .m4p, m4b, .aac, .3gp)</span></p>
                    <i ng-show="$ctrl.videoForm.file.$error.required">*required</i><br>
                    <i ng-show="$ctrl.videoForm.file.$error.maxSize">File too large
                      {{$ctrl.formData.video.size / 1000000|number:1}}MB: max 50MB</i>
                  </div>
                </div>
              </div>
            </div>

            <div class="upload-success">
              <p>
                {{$ctrl.success_upload}}
              </p>
            </div>

            <div class="upload-fail" style="color: firebrick;">
              <p>
                {{$ctrl.error_upload}}
              </p>
            </div>

            <div class="upload-explain">
              <p>
                {{$ctrl.nextVideo}}
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-5">
          <div class="notes-title" style="margin-top: 100px">
            Add Tags
          </div>

          <div class="form-group">
            <label for="text-area"></label>
            <textarea class="form-control" id="text-area" ng-model="$ctrl.formData.notes" rows="3" cols="5" placeholder="Tag1, Tag2, Tag3..."></textarea>
          </div>
        </div>

        <div class="upload-button text-right">
          <button class="btn primary-btn" type="submit">
            SEND AUDIO
          </button>
        </div>
        <!-- End the row & container divs -->
      </div>
    </form>

    <div class="row" ng-if="$ctrl.showForm === false">
      <div class="cols col-md-4"></div>
      <div class="cols col-md-4 text-center">
        <div class="no-upload">
          <img src="images/noupload.jpg" width="100%" height="auto">
        </div>

        <div class="upload-explain" style="margin-top: 10px">
          <p>
            Next upload will be available the 1st or 15th of every month!
          </p>
        </div>

        <div style="color: orangered; font-size: 18px">
          <p>
            SENT! YOUR VIDEOS HAVE BEEN UPLOADED AND YOU WILL BE NOTIFIED
            VIA EMAIL WHEN THE REVIEW IS READY!
          </p>
        </div>
      </div>
      <div class="cols col-md-4"></div>
    </div>
  </div>
</div>